
body {
    font-size: 30px;
    margin: 0px;
    background-color: white;
}

h1{
    text-align: center;
    color: #8a2be2;
}

table
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 200px;
    width: 600px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    display: table;
    padding: 8px 8px 8px 8px;
    color: blueviolet;
    background-color: antiquewhite;
}

th
{
    color: blueviolet;
}

div.buttonbox
{
    width: 100%;
    text-align: center;
}

div.textupdates
{
    width: auto;
    height: 100px;
    background-color: blueviolet;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    padding: 4px 4px 4px 4px;
    margin-bottom: 6px;
    border-radius: 5px;
    color: white;
}

.cool
{
    background-color: blueviolet
}

.hot
{
    background-color: blueviolet
}

.hidden
{
    visibility: hidden
}

.blackcard
{
    font-weight: bold;      
}

.bold {
    font-weight: bold;
}

.redcard {
    color: red;
    font-weight: bold;   
}

.cringe {
    width: 100px;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    
}

button
{
    font-size: 18px;
    box-shadow: 0 1px 3px blueviolet;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: 2px solid #000000;    
    font-weight: bold;
    border-radius: 6px;
}

button#newgame
{
    background-color: greenyellow;
    width: 140px;
}


button#hit
{
    background-color: greenyellow;
    width: 70px;
}

button#stay
{
    background-color: red;
    width: 70px;
}

#tracker
{   
    border-top: 3px solid blueviolet;
    border-bottom: 3px solid blueviolet;
}

